$grey: #2B2B2B;
$white: #ffffff;
$black: #000000;
$danger: #F64C4C;
$body: #E5E5E5;
$lightgrey: #F8F8F8;
$darkgrey: #404040;
$formborder: #EFEFEF;
$warning: #BE3939;
$linegrey: #E4E4E4;
$inventory:  #828282;
$blue: #56CCF2;




$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 4,
  9: $spacer * 5,
  10: $spacer * 6,
);

$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
); 

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  menu: 855px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);