.btn {
    border: none !important;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0 5px;
    
        &_dropdown {
                display: flex;
                    &::after {
                        content: url('/assets/images/langs/arrow.svg');
                        display: inline-block;
                        align-self: center;
                        padding-left: 6px;
        
                    }
        }

        @include media-breakpoint-down ('md') {
            font-size: 12px;
        }

        &:hover {
            color: $lightgrey;
        }

        &__main {
            padding: 20px 0;
           width: 254px;
        }

        &__srch {
            padding: 18px 93px;
        }

        &__sm {
            font-size: 10px;
            padding: 3px 6px;
        }

        &__rounded {
            border-radius: 100px;
        }

        &__inventlinks {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 119px;
            height: 119px;
            background-color: #484848;
            border-radius: 50%;
            transition: .7s linear;

                &:hover {
                    background-color: rgba(#484848, .7);
                }
        }

        &__bckgraund {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: rgba($black, .5);
            border-radius: 50%;
        }

        &__invent {
            width: 18px;
            height: 18px;
            background-color: $inventory;

                &:hover {
                    background-color: $inventory;

                }

        }

        &__form {
            position: relative;
            color: $darkgrey;
            background: $lightgrey;
            border: 1px solid $formborder;
            transition: .2s linear;
            width: 100%;
            padding: 20px 25px;

                &::after {
                    position: absolute;
                    right: 25px;
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 5px solid #0000;
                    border-right: 5px solid #0000;
                    border-top: 4px solid $darkgrey;
                }

                &:hover {
                    background-color: darken($lightgrey, 5%);
                }
        }

        &__control {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: rgba($black, .9);
        }

        &__blue {
            padding: 10px 50px;
            text-align: center;
            background-color: $blue;
                &:hover {
                    background-color: rgba($blue, .7);
                }

        }

        &-straight {
            border-radius: 0%;
        }

        &-mobile {
            font-size: 16px;
        }
}

.line {
    margin: 0 5px;
    display: block;
    width: 153px;
    height: 1px;
    background-color: $white;

}
