.form {
    bottom: -49px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $white;
    position: absolute;
    max-width: 628px;
    z-index: 10;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.mycontainer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 37px 40px 42px 40px;
}

.form-title {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2px;
}

.dropdown-menu {
    color: $darkgrey;
    background: $lightgrey;
    border: 1px solid $formborder;
    font-size: 12px;
    max-height: 135px;
    overflow: scroll;
    margin-top: 10px;
}

.form-row {
    justify-content: space-evenly;
    padding-bottom: 18px;

        &__pb_bigger {
            padding-bottom: 31px;
        }
}

.form-input {
    background: $lightgrey;
    border: 1px solid $formborder;
    padding: 14px 0;


        &::placeholder {
            font-weight: 600;
            text-transform: capitalize;
            color: #909090;
            margin: auto 0;
            height: 17px;
        }

        &__span {
            height: 1px;
            width: 25px;
            background-color: #000;
            margin: 0 10px;
        
        }

}