.inventory_prew {
    padding-top: 89px;

        @include media-breakpoint-down('sm') {
            padding-top: 30px;
        }
}

.inventory-item {
    color: $black;
    background-color: $white;
    max-width: 240px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid $body;
}

.inventory-wrapp {
    @include media-breakpoint-down('lg') {
        &:last-child {
            display: none !important;
        }
    }

    @include media-breakpoint-down('md') {
        &:nth-child(3) {
            display: none !important;
        }
    }

    @include media-breakpoint-down('sm') {
            margin-bottom: 20px;        
    }
}

.inventory-img {
    display: block;
    width: 100%;
    height: 100%;
}

.inventory-img-group {
    position: relative;
}

.star {
    display: inline-block;
    position: absolute;
    bottom: 25px;
    right: 2px;
}

.active {
    fill: #F65353;
}

.inventory-title,
.status {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 17px;
}

.car-descr, 
.item-footer-title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 19px;
}

.inventory-footer {
    border-top: 1px solid $linegrey;
}

.item-footer-title {
    font-weight: 300;
    padding-right: 5px;
}

.car-descr {
    font-weight: 600;
}

.inventory-icon {
    height: 13px;
}

.inventory-control-prev,
 .inventory-control-next {
    top: 0;
    width: 22px;
    height: 22px;
    display: inline-block;
    bottom: 0;
    margin: auto 0;

}

.inventory-control-prev {
    left: 14px;
}

.inventory-control-next {
    right: 14px;
}

.inventory-more {
    text-transform: uppercase;
    color: $blue;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 600;
    border-bottom: 2px solid $blue;

        &:hover {
            color: $blue;
        }
}

.inventory-links {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;

        @include media-breakpoint-down ('md') {
            display: none;
        }
}

.inventory-more_block {
    margin-bottom: 30px;
}

.inventory-link_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-link_title {
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.inventory-link_item_second {
    position: relative;
}

.line-red {
    bottom: 55%;
    height: 1.5px;
    background-color: #F64C4C;
    width: 46%;
    position: absolute;
    left: -23%;

        @include media-breakpoint-down('xl') {
            bottom: 50%;
            width: 40%;
            left: -20%;
        }
}

.line-redd {
    bottom: 55%;
    height: 1.5px;
    background-color: #F64C4C;
    width: 46%;
    position: absolute;
    right: -23%;

        @include media-breakpoint-down('xl') {
            bottom: 50%;
            width: 40%;
            right: -20%;
        }
    }

.inventory-link_item:first-child {
         position: relative;

         &::after {
            content: '';
            bottom: 55%;
            height: 1.5px;
            background-color: #F64C4C;
            width: 26%;
            position: absolute;
            left: -3%;

                @include media-breakpoint-down('xl') {
                    bottom: 50%;

                }
         }

}

.inventory-link_item:last-child {
    position: relative;

    &::after {
       content: '';
       bottom: 55%;
       height: 1.5px;
       background-color: #F64C4C;
       width: 26%;
       position: absolute;
       right: -3%;

        @include media-breakpoint-down('xl') {
            bottom: 50%;
        }
    }

}

.item-footer-list {
    margin-bottom: 0;
}

