<footer class="container d-flex justify-content-between align-items-center py-6">
    <a href="#"><img class="footer-img" src="/assets/images/footer/image1.jpg" alt=""></a> 
    <a href="#"><img class="footer-img" src="/assets/images/footer/image2.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image3.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image4.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image5.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image6.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image7.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image8.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image9.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image10.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image11.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image12.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image13.jpg" alt=""></a>  
    <a href="#"><img class="footer-img" src="/assets/images/footer/image14.jpg" alt=""></a>  
</footer>
