<header>
<nav class="navbar navbar-expand-md fixed-top py-5">
    <div class="container">
      <a class="navbar-brand logo" href="#"><img src="/assets/images/header/logo.png" alt=""></a>
      <div class="dropdown">
        <button class="btn btn_dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/images/langs/usa.svg" alt="">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"></a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
        <ul class="navbar-nav ms-5">
          <li class="nav-item btn__bckgraund me-3">
            <a class=" home_link" aria-current="page" href="index.html"><img class="home_link__img" src="/assets/images/header/home.svg" alt=""></a>
          </li>
          <li class="nav-item nav-item__bfr">
            <a class="nav-link" href="#">Inventory</a>
          </li>
          <li class="nav-item nav-item__bfr">
            <a class="nav-link" href="#">Work Trucks / Vans</a>
          </li>
          <li class="nav-item nav-item__bfr">
            <a class="nav-link" href="#">Get Pre-Approved</a>
          </li>
          <li class="nav-item nav-item__bfr">
            <a class="nav-link" href="#">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>