<header>
<nav class="navbar navbar-expand-menu py-2 py-menu-3">
    <div class="container-fluid justify-content-between justify-content-lg-center">
      <div class="d-flex align-items-center col-6 col-sm-5 col-menu-3 col-md-4 justify-content-start justify-content-lg-center">
      <a class="navbar-brand logo" href="#"><img src="/assets/images/header/logo.svg" alt=""></a>
      <div class="dropdown d-none d-sm-block">
        <button class="btn btn_dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/images/langs/usa.svg" alt="">
        </button>
        <ul class="dropdown-menu dropdown_menu mt-3">
          <li class="dropdown_li">
            <a class="dropdown_item d-flex align-items-center" href="#">
            <img src="/assets/images/languages/france.png" alt="">
            <span class="dropdown-menu-span ps-2">French</span>
          </a>
        </li>
          <li class="dropdown_li">
            <a class="dropdown_item d-flex align-items-center" href="#"> 
             <img src="/assets/images/languages/spain.png" alt="">
            <span class="dropdown-menu-span ps-2">Spanish</span>
          </a>
        </li>
        </ul>
    </div>
    </div>
      <button class="navbar-toggler btn__bckgraund" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="burger-menu"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center col-9" id="navbarNavDropdown">
        <ul class="navbar-nav align-items-center pt-3 pt-menu-0">
          <li class="nav-item btn__bckgraund">
            <a class="home_link" aria-current="page" href="index.html"><img class="home_link__img" src="/assets/images/header/home.svg" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav_link" href="#">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav_link" href="#">Work Trucks / Vans</a>
          </li>
          <li class="nav-item">
            <a class="nav_link" href="#">Get Pre-Approved</a>
          </li>
          <li class="nav-item">
            <a class="nav_link" href="#">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>